{% extends "base.html" %}


{% block title_head %}
<title>Auto {{auto.id}}</title>
{%endblock title_head %}


{% block h1_header %}
<h2 class="text-white mb-4" style="font-size:50px;"> Auto {{auto.id}} </h2>
{%endblock h1_header %}
  
{% block h2_header %}
<h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
{% endblock h2_header %}




{%block main %}


<ul>
    <li> Marca: {{auto.marca}} </li>
    <li> Año: {{auto.anio}} </li>
    <li> Descripcion: {{auto.descripcion}} </li>

</ul>

{% endblock main%}

