{% extends "base.html" %}


{% block title_head %}
<title>vehiculo</title>
{%endblock title_head %}


{% block h1_header %}
<h2 class="text-white mb-4" style="font-size:50px;">  </h2>
{%endblock h1_header %}


{% block h2_header %}
{%endblock h2_header %}




{% block main %}


<form action="">

    <input type="text" name="marca" placeholder="año, description">
    <input type="submit" value="buscar"> 

    <a href="{% url 'crear_auto' %}" class="btn btn-primary">Crear Auto</a>
    <a href="{% url 'crear_moto' %}" class="btn btn-primary">Crear Moto</a>
    <a href="{% url 'crear_bicicleta' %}" class="btn btn-primary">Crear Bicicleta</a>

    {% for auto in listado_de_auto%} 
    <li>{{auto}}  <a href={% url "modificar_auto" auto.id%}> modificar</a> <a href={% url "eliminar_auto" auto.id %}>Eliminar</a> <a href= {% url "detalle_auto" auto.id%}> Ver mas </a> </li> 
    {% endfor %}


    {% for moto in listado_de_moto %} 
    <li>{{moto}}  </li> 
    {% endfor %}

    {% for bicicleta in listado_de_bicicleta %}  
    <li>{{bicicleta}}</li>
     {% endfor %}


     {% if mensaje %}
     <p>{{ mensaje }}</p>
    {% endif %}


{% endblock main %}

