{% extends "base.html" %}


{% block title_head %}
<title>mostrar Perfil</title>
{%endblock title_head %}


{% block h1_header %}
<h2 class="text-white mb-4" style="font-size:50px;">  </h2>
{%endblock h1_header %}
  
{% block h2_header %}
<h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
{% endblock h2_header %}


{%block main %}



<h1>Perfil de {{ datos.user.username }}</h1>
<p>Nombre: {{ datos.user.first_name }}</p>
<p>Apellido: {{ datos.user.last_name }}</p>
<p>Email: {{ datos.user.email }}</p>
<p>Biografía: {{ datos.biografia }}</p>
{% if datos.avatar %}
    <img src="{{ datos.avatar.url }}" alt="Avatar">
{% endif %}

{% endblock main%}
